<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>
<div class="card bg-dark text-white my-4">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
        <form #gastoForm="ngForm">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre del gasto</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control"[(ngModel)]="gasto.nombre"  name="nombre" #nombre="ngModel" >
                    <!-- required minlength="3" -->
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                         <!--este div es el principal que pregunta si hay error-->
                         <div *ngIf="nombre.errors.required">
                            Nombre del gasto es requerido
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                            Nombre debe tener 3 caracteres como minimo
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="valor" class="col-form-label col-sm-2">Valor</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="gasto.valor" name="valor" #valor="ngModel">
                    <!-- required-->
                    <div class="alert alert-danger" *ngIf="valor.invalid && (valor.dirty|| valor.touched)">
                        <!--este div es el principal que pregunta si hay error-->
                        <div *ngIf="valor.errors.required">
                             El valor del gasto es requerido 
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="tipo" class="col-form-label col-sm-2">Tipo de gasto</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="gasto.tipo" name="tipo" style="width: 500px;"> 
                        <option>--- seleccionar una región ---</option>
                        <option   [ngValue]="gasto.tipo">{{gasto.tipo}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="descripcion" class="col-form-label col-sm-2">Descripcion</label>
                <div class="col-sm-6">
                   <textarea class="form-control" [(ngModel)]="gasto.descripcion"  name="descripcion"  cols="30" rows="10" #descripcion="ngModel">

                  </textarea>
                  <!-- required-->
                  <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                       <!--este div es el principal que pregunta si hay error-->
                       <div *ngIf="descripcion.errors.required">
                        La descripcion es requerida por favor
                       </div>

                  </div>
            </div>
                
            </div>
        </form>
    </div>
</div>
