<!-- inyectamos en el atributo gasto a un gasto seleccionado -->
<!-- a la variable gasto del hijo (detalle) le asignamos el valor de gastoSeleccionado (gastos padre) -->
<detalle-gasto *ngIf="gastoSeleccionado" [gasto]="gastoSeleccionado"></detalle-gasto>

<div class="card border-primary tarjeta mb-3 panel">
    <div class="card-header">Gastos</div>
    <div class="card-body text-primary">
        <h4 class="card-title">Listado de gastos</h4>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/gastos/form']">
        Crear Gasto
      </button>
        </div>
        <div *ngIf="gastos?.length == 0" class="alert alert-info">
            No hay registros en la base de datos!
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-sm table-md" *ngIf="gastos?.length > 0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre gasto</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>
                            Editar
                        </th>
                        <th>
                            Eliminar
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let gasto of gastos">
                        <td>
                            <button (click)="abrirModal(gasto)" class="btn btn-rounded btn-primary" type="button"style="width: 84px; cursor:pointer;">
                  Detalle
                </button>
                        </td>
                        <td>{{ gasto.nombre }}</td>
                        <td>{{ gasto.valor  | currency:'CLP':'symbol-narrow' }}</td>
                        <td>{{ gasto.tipo}}</td>
                        <td>{{ gasto.fecha | date: "EEEE dd, MMMM yyyy" }}</td>
                        <td>
                            <button type="button" name="editar"[routerLink]="['/gastos/form', gasto.id]" class="btn btn-primary">
                  editar
                </button>
                        </td>
                        <td>
                            <button type="button" name="eliminar" class="btn btn-danger" (click)="delete(gasto)">
                  eliminar
                </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>
    </div>
    
</div>
 <!--Tarjeta lateral que mostrara el valor total acumulados de lso gastos y el número de clientes que tiene la aplicacion-->
 <div class="col-md-3 d">
    <div class="card text-center bg-danger text-white mb-3">
        <div class="card-body">
            <h3>Valor Total</h3>
            <h4>{{getGastoTotal() | currency:'CLP':'$'}}</h4>
        </div>
    </div>
    <div class="card text-center  bg-success text-white mb-3">
        <div class="card-body">
            <h3>Total Gastos</h3>
            <h4 class="display-4">
                <i class="fas fa-money-bill-wave"></i> {{gastos?.length}}
             </h4>
        </div>
     </div>
 </div>

 